#wrapper {
    max-width: 600px;
    text-align: center;
    margin: auto;
}
.breakBox{
  float: left;
}
.clock{
  float: right;
}

.breakPlus, .breakMinus, .clockPlus, .clockMinus, .pomodoroTime, .breakTime {
    display: inline-block;
}

button {
    background: none;
    border: 0;
    font-size: 1.5em;
}
.timer{
  padding-top: 160px;
}

.clock, .breakBox, .pause, .start {
    display: inline-block;
}
.start-pause{
    margin-top: 50px;
}
.start{
  padding-right: 85px;
}
