#wrapper{
  max-width: 600px;
  margin:0 auto;
  text-align: center;
}
.breakPlus,
.breakMinus,
.clockPlus,
.clockMinus,
.pomodoroTime,
.breakTime{
  display: inline-block;
   margin-right:5px;
}
button{
  background: none;
  border: 0;
  font-size: 1.5em;
}
.clock,
.breakBox,
.pause,
.start {
  display: inline-block;
}
.timer{
  padding-bottom:30px;
}
